/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	-moz-osx-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ============================================================ */
/* VARIABLES */

$color-brand: #f9a400;
$color-brand-light: rgba(249, 164, 0, .075); //#fff8ec; 
$color-brand-medium: rgba(249, 164, 0, .5); //#fcd180; 
$color-text-light: #757575;
$color-text-default: #555;
$color-text-dark: #222;


/* ============================================================ */
/* BASE STYLES */

::selection {
//     background-color: #ecebea;
	color: #222;
	background-color: #f9a400;
}

:focus {
	outline: 2px dotted #222;
	box-shadow: 0 4px 16px #555;
}

a {
	background: $color-brand-light;
// 	background: rgba(252,248,240,1);
// 	border-bottom: 1px dotted $color-brand;
// 	box-shadow: inset 0 0 #ffffff, inset 0 -0.1em $color-brand-medium;
	color: $color-text-default;
// 	text-decoration-color: $color-brand;
	transition: all 0.2s ease;
	
	&:hover {
		background: none;
// 		box-shadow: inset 0 0 #ffffff, inset 0 -0.2em $color-brand;
		color: $color-text-dark;
	}
}

blockquote {
	background: url("../_images/blockquote.png") 0 0 no-repeat;
	background-size: 100px 100px;
// 	font-style: italic;
	font-weight: 300;
	letter-spacing: -.005rem;
	padding: 1.5rem 0 2.5rem 6rem;	
	position: relative;
	
	p {
		font-size: 1.5rem;
		z-index: 1;
	}
	
	span {
		font-size: 1rem;
	}
	
	.quote-decoration {
		background: rgba(249,164,0,.025);
		height: 80%;
		position: absolute;
		right: 2.5%;
		width: 90%;
		top: 5%;
		z-index: 0;	
		transform: rotateZ(-2.5deg);
	}
}

body {
	background: #fff;
	color: $color-text-default;
// 	font-family: 'Rubik', sans-serif;
	font-family: 'Heebo', sans-serif;
	line-height: 1.5;
}

figure {	
	a {
		background: none;
		border: 0;
		display: block;
		text-decoration: none;		
		transition: all 0.2s ease;
	
		&:active {
			box-shadow: none;
			outline: none;
		}	
	}	
	
	img {
		display: block;
	}
}

footer {
	background: $color-brand;
	-moz-clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0 100%);
	color: $color-text-dark;
	padding: 2.5rem 0 2.5rem 0;
	width: 100%;
	
	a {
		background: none;
		border-color: #222;
		color: #222;
		
		&:hover {
			border-color: #fff;
		}
	}
	
	p {
		font-size: .875rem;
	}
	
	.footer-section {
		margin: 0 auto 0;
		max-width: 60rem;
		overflow: hidden;
		padding: 0;
		width: 90%;
	}

	#footer-links {
		display: flex;
		list-style: none;
		justify-content: center;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 1;
		
		a {
			background: none;
			border: none;
			display: block;
			transition: 0.2 all ease;
			
			&:focus,
			&:hover {
				background: none;
				outline: none;
				transform: scale(1.1);
			}
		}
		
		li {
			margin: 0 1.5rem 0 0;
			
			&:last-child {
				margin: 0;
			}
		}				
	}


}

header {
	display: grid;
	margin: 6rem auto 0;
	min-height: 9rem;
	max-width: 60rem;
	position: relative;
	width: 90%;
	z-index: 2;
	
	.title {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;		
	}
	
	.title-link {
		height: 4rem;
	}
}

hr {
	&.separator {
		background: none;
		border:0;
		border-bottom: .25rem solid $color-brand;
		height: 0;
		margin: 0 0 1rem 0;
		text-align: left;
		width: 2.5rem;
	}
}

h1 {
	border-bottom: .5rem solid $color-brand;
	color: $color-text-dark;
	display: inline-block;
	font-size: 1.5rem;
// 	font-weight: 700;
	font-weight: 900;
	line-height: 1.25;
	margin: 0 0 1.5rem 0;
	padding: 0 0 .375rem 0;
	text-transform: uppercase;
}

h2 {
	color: $color-text-dark;
// 	font-size: 1rem;
	font-size: 1.125rem;
// 	font-weight: 500;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 .5rem 0;
	text-transform: uppercase;
}

h3 {
	color: $color-text-dark;
// 	font-size: 1rem;
	font-size: 1.125rem;
// 	font-weight: 500;
	font-weight: 700;
	line-height: 1.25;
	margin: 0 0 .5rem 0;
}

h4 {
	margin: 0 0 .75rem 0;
}

main {
	margin: 0 auto;
	max-width: 60rem;
	padding: 0 0 4rem 0;
	width: 90%;
}

p {
	font-size: 1.125rem;
	margin: 0 0 1rem 0;	
	
	span {
		text-decoration: underline;
	}
	
	&.text-secondary {
		font-size: .75rem;
	}
	
}

strong {
	font-weight: 700;
}

table {
	font-size: .875rem;
	margin: 2.5rem 0 1rem 0;
	
	td {
		padding: .5rem .75rem .5rem;
	}
	
	th {
		background: #f6f4f1;
		font-weight: 700;
		padding: .5rem .75rem;
		text-align: left;
	}
	
	tr {
		border-bottom: 1px solid #e8e3de;
		
		&.table-header {
			border-bottom: 0;
		}
		
		&.table-header-secondary th {
			background: #fBf9f7;
		}
	}

	
}

ul {
	list-style-type: circle;
	padding: 0 0 0 2.5rem;
	
	li {
		font-size: 1.125rem;	
	}
	
	&.list-text {
		line-height: 1.375;
		list-style-type: none;
		margin: 0 0 0 2.5rem;
		padding: 0 0 .25rem 0;
		
		li {
			font-size: .875rem;
			margin: 0 0 .75rem 0;
		}
	}	
}



/* ============================================================ */
/* NAV STYLES */

nav {
	background: rgba(255,255,255,0.95);
	border-bottom: 4px double #e8e3de;
	display: grid;
	font-size: .875rem;
	grid-gap: 1rem;
	grid-template-columns: auto 1fr auto auto;
	left: 0;
	margin: 0 auto;
	max-width: 60rem;
	padding: .75rem .5rem;
	position: fixed;
	right: 0;
	top: 0;
	vertical-align: bottom;
	width: 90%;		
	z-index: 3;
	
	a {
		background: none;
		border: 0;
		border-top: 2px solid transparent;
		color: #777;
		display: block;
		font-size: .875rem;
		line-height: 1.5;
		overflow: hidden;
		padding-top: .125rem;
		text-decoration: none;
		vertical-align: middle;

		&:focus {
			box-shadow: 0 2px 8px #d0d0d0;
			transform: translateY(-2px);
			outline: none;
		}
	
		&:hover {
			background: none;
			transform: translateY(-2px);
		}

		img {
			height: 1.5rem;
			width: 1.5rem;
		}
		
		&#nav-link-home {
			background: none;
			border-top: 2px solid transparent;
			color: $color-text-dark;
			text-transform: uppercase;
			padding: .125rem 0 0 0;

			&:hover {
				transform: translateY(-2px);
			}
		}

		&.nav-link-active {
			border-top: 2px solid $color-text-dark;
			color: $color-text-dark;

			&:hover {
				background: none;
				transform: none;
			}
		}

	}	
	
	&.transparent {
		background: none;
		border-bottom: 4px double transparent;
		
		a {
			color: #fff;
			&.nav-link-active {
				border-top: 2px solid #fff;
				
				&:hover {
					color: #fff;
				}
			}
			
			&:focus {
				box-shadow: 0 2px 8px #0c0c0c;
			}

			&:hover {
				color: #ddd;
			}
		}

		a#nav-link-home {
			color: #fff;
		}		
	}
}



/* ============================================================ */
/* CONTENT STYLES */

.container {
	figcaption {
		color: $color-text-light;
		font-size: .875rem;
		margin: 1rem 0 0 0;	
		text-align: center;
	}
	
	figure {
// 		font-style: italic;
		margin: 1.5rem 0 2.5rem 0;
		max-width: 45rem;	

		img {
			height: auto;
			margin-bottom: .5rem;
			width: 100%;
		}

		&.image-size-xs {
			width: 33%;
		}

		&.image-size-s {
			width: 50%;
		}
		
		&.image-alignment-l {
			float: left;
			margin: 0 1.5rem 1rem 0;
		}

		&.image-alignment-m {
			float: none;
			margin: 0 auto 1rem;
		}

		&.image-alignment-r {
			float: right;
			margin: 0 0 1rem 1.5rem;
		}

		&.figure-l {
			margin: 0 0 2.5rem -34%;
			max-width: 60rem;
			
			figcaption {
				margin: 1rem auto 0;	
				max-width: 45rem;
			}
		}
		
		&.figure-side-by-side {
			align-items: flex-start;
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: repeat(4, [col] 1fr);

			.figure-side-by-side-size-l {
				grid-column: col 1 / span 3;
    		}
			
			.figure-side-by-side-size-s {
				grid-column: col 4 / span 1;
				margin-top: 12%;
				width: 88%;
			}

			figcaption {
				grid-column: col 1 / span 4;
				margin: 0 auto;	
				max-width: 45rem;
			}

		}

		#table-desktop {
			display: block;
		}
		
		#table-mobile {
			display: none;
		}

	}
	
	section {
		margin: 0 0 2.5rem 0;
		max-width: 45rem;	
	}
}

.container-section {
	align-items: baseline;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(4, [col] 1fr) ;
	margin: 0;
	
	aside {
		grid-column: col 1 / span 1;
		margin-right: .5rem;
	}

	section {
		grid-column: col 2 / span 3;
		
		:last-child {
			margin-bottom: 0;
		}
	}
	
	.container-section-item {
		margin: 0 0 1.25rem 0;
		
		&.container-section-item-single {
			margin: 0;	
		}
	}

	.container-section-item :last-child {
		margin-bottom: 0;
	}		
}

.cover {
	background: linear-gradient(#1f2021, #030303);
/* 	box-shadow: inset 0 -16px 16px -8px #000;	 */
	-moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 28rem);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 28rem);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 28rem);
	left: 0;
	height: 30rem;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	
	img {
		display: block;
		filter: blur(6px);
		height: auto;
		min-height: 30rem;
		width: 100%;
		opacity: 0.15;
	}
}	

.home {	
	&.with-cover {
		header {
			height: 11rem;	
			margin-bottom: 1rem;
			margin-top: 9rem;		
			position: relative;
			z-index: 0;
		}	

		h1 {
			border-bottom: 1rem solid $color-brand;
			font-size: 4rem;
			position: relative;
			z-index: 1;
			text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		}
		
		.container-header {
			position: relative;
			z-index: 1;
		}
		
		.cover {
			background: #fff;
			box-shadow: none;
			-moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 18rem);
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 18rem);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 18rem);
			height: 20rem;
			
			img {
				filter: blur(0);
				min-height: 0;
				opacity: 1;		
			}	
		
			.cover-mask {
				background: linear-gradient(#222, transparent);
				height: 4rem;
				left: 0;
				opacity: .5;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}
	
	#bio {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(12, [col] 1fr) ;
		grid-template-rows: repeat(4, [row] auto);
		margin-bottom: 4rem;
		position: relative;
		z-index: 1;
		
		.intro {
			color: $color-text-dark;
			font-style: normal;
			font-size: 2.75rem;
// 			font-weight: 700;
			font-weight: 900;
			grid-column: col 1 / span 9;
			grid-row: row 1 / span 1;
			line-height: 1.25;
			letter-spacing: -.05rem;
			margin: 0 0 1rem 0;
		}
		
		.intro-secondary {
			color: $color-text-light;
			display: none;
			font-size: 1rem;
 			font-weight: 700;
			grid-column: col 5 / span 6;
			grid-row: row 2 / span 1;
			height: 6rem;
			margin: 0;
			text-align: left;
		}
		
		.intro-photo {
			grid-column: col 11 / span 2;
			grid-row: row 1 / span 2;
			margin: -3.5rem 0 0 0;
			position: relative;
			
			#intro-photo-decoration {
				background: rgba(249,164,0,.075);
				height: 10rem;
				position: absolute;
				right: 0;
				width: 6rem;
				top: 8%;
				z-index: 0;	
				transform: rotateZ(30deg);
			}

/*
			#intro-photo-links {
				display: flex;
				list-style: none;
				justify-content: center;
				margin: 0;
				padding: 0;
				position: relative;
				z-index: 1;
				
				a {
					background: none;
					border: none;
					display: block;
					transition: 0.2 all ease;
					
					&:focus,
					&:hover {
						background: none;
						outline: none;
						transform: scale(1.1);
					}
				}
				
				li {
					margin: 0 1.5rem 0 0;
					
					&:last-child {
						margin: 0;
					}
				}				
			}
*/
			
			#intro-photo-main {
				margin: 0 0 1.5rem 0;
				position: relative;
				z-index: 1;
				
				img {
				    border-radius: 50%;
				    box-shadow: 4px 4px 0 $color-brand;
				    display: block;
				    height: auto;
					margin: 0 auto;
				    width: 100%;
				}
			}
		}
		
		.intro-tertiary {
			grid-column: col 3 / span 8;
			grid-row: row 2 / span 1;
		}
	}
	
	#header-decoration {
		background: $color-brand-light;
		height: 23.625rem;
		position: absolute;
		left: -2rem;
		width: 20rem;
		top: -1rem;
		z-index: 0;	
	}
}

.intro {
	color: #fff /* #5c80a9 */;
	display: block;
	font-size: 2.625rem;
	font-weight: 900;
	line-height: 1.25;
	margin: 0 0 4rem 0;
}

.link-cta {
	background: none;
	border: 1px solid $color-brand;
	color: $color-text-dark;
	display: block;	
	font-size: .875rem;
	font-weight: 700;
	padding: .25rem .625rem .1875rem;
	text-decoration: none;
	text-transform: uppercase;
	
	&:hover {
		background: $color-brand;
		border-bottom: 2px solid #BD7F06;
		transform: translateY(-2px);
	}
}

.list-item-visual {
	margin-bottom: 4rem;
	padding: 0;
	
	a:active {
		box-shadow: none;
		outline: none;
	}	
	
	figure {
		grid-column: col / span 6;
		grid-row: row 1 / span 8;
		position: relative;
		
		a {
			img {
/* 				box-shadow: 0 4px 16px #eaeaea;			 */
				box-shadow: 8px 8px 0 #f6f6f6;			
				height: auto;
				width: 100%;	
				transition: all 0.2s ease;

				&:hover {
// 					box-shadow: 0 2px 4px #eaeaea;	    	    
					box-shadow: 10px 10px 0 #222;			
				}
			}

			&:hover {
				background: none;
//	    	    transform: rotateZ(-.5deg) scale(0.99);	
	    	}
		}
		
		.link-external {
			background: rgba(255,255,255,0.9);
			color: $color-brand;
// 			font-weight: 700;
			font-weight: 900;
			position: absolute;
			padding: .125rem .375rem 0 0;
			right: 0;
			top: 0;
			z-index: 1;
		}
	}

	hr {
		background: none;
		border: 0;
		border-bottom: 1rem solid blue;
		grid-column: col 4 / span 2;
		grid-row: row 2 / span 1;
		margin: 0;
		width: 80%;
	}
	
	li {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(12, [col] 1fr) ;
		grid-template-rows: repeat(8, [row] auto);
		margin: 0 0 2rem 0;
	}
	
	&.list-item-visual-s {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(4, [col] 1fr);
		grid-template-rows: auto;
		margin: 2rem 0 4rem 0;

		li {
			display: block;
			margin: 0 0 .75rem 0;
		}

		figure {
			display: block;
			margin: 0 0 .5rem 0;

			a:hover img {
/* 				box-shadow: 0 0 0 #eaeaea; */
				box-shadow: 6px 6px 0 #222;			
			}
			
			img {
				box-shadow: 4px 4px 0 #f6f6f6;			
/* 				box-shadow: 0 4px 8px #eaeaea;			 */
				height: auto;
				width: 100%;	
			}
		}
		
		.link-tile {
			position: relative;
			
			a {
				background: none;
				border: 0;
			 	display: block;
			 	font-style:normal;
				font-weight: 700;
				left: 0%;
				padding: 1rem 0;
				position: absolute;
				width: 100%;
				text-align: center;
				text-decoration: none;
// 				text-transform: uppercase;
				transform: none;
				top: 23%;
				z-index: 1;
				
				&:hover {
					background: none;
				}
			}

			a:focus + #link-decoration,
			a:hover + #link-decoration {
				transform: rotateZ(-7.5deg);
			}
			
			figure {
				height: 100%;
			}
			
			#link-decoration {
				background: rgba(249,164,0,.075);
				height: 1.25rem;
				position: absolute;
				left: 21%;
				width: 60%;
				top: 35%;
				z-index: 0;	
				transform: rotateZ(-5deg);
				transition: all 0.2s ease;
			}
		}

		.list-item-visual-description {
			color: $color-text-light;
			font-size: 1rem;
// 			font-style: italic;
			display: block;
			line-height: 1.375;
			margin: 0;
			text-align: left;
		}
		
		.list-item-visual-title {			
			color: $color-text-dark;
			font-size: 1.125rem;
			font-weight: 700;
			line-height: 1.5;
			margin: 0 0 .125rem 0;
		}

	}

	.list-item-visual-description {
		color: $color-text-light;
		font-size: 2rem;
// 		font-style: italic;
		grid-column: col 7 / span 6;
		grid-row: row 4;
		line-height: 1.25;
		margin-left: 1.5rem;
		text-align: left;
	}

	.list-item-visual-title {
		color: $color-text-dark;
		font-size: 2.5rem;
// 		font-weight: 700;
		font-weight: 900;
		grid-column: col 7 / span 7;
		grid-row: row 2 / span 2;
		line-height: 1.375;
		margin-left: 1.5rem;
		z-index: 2;
		
		a {
			background: $color-brand-light;
			cursor: pointer;
			text-decoration: none;
			
			&:hover {
				background: none;
			}
		}
	}
}

.with-cover {
	header {
		color: #fff;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto 1fr auto;
		height: 24rem;
		margin-bottom: 3rem;	
	}
	
	h1 {
		border-color: rgba(255,255,255,0.1);
		color: #fff;
	}

	.link-cta {
		color: #fff;
		
		&:hover {
			color: $color-text-dark;
		}
	}
	
	.role {
		color: #ddd;
		margin: 0 0 4rem 0;
		padding: 0;
		
		li {
			background: rgba(255,255,255,.1);
			border-radius: 0;
			display: inline-block;
			font-size: .875rem;
			line-height: 1;
			list-style-type: none;
			margin: 0 .5rem .5rem 0;
			padding: .5rem .625rem;
		}
	}	
}

#work-links {
	color: $color-text-light;
	display: flex;
	font-size: .875rem;	
	hyphens: none;
	justify-content: space-between;
	margin: 2rem 0 0 0;
	text-decoration: none;

	h4 {
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1.25;
		margin: .5rem 0 .25rem 0;
	}
	
	span {
		font-size: .75rem;
		font-style: normal;
	}
		
	#work-links-next,
	#work-links-prev {
		border: 1px dotted $color-brand;
		display: block;
// 		font-style: italic;
		padding: .75rem 1rem 1rem 1rem;
		position: relative;
		-webkit-transition: transform 0.2s ease, background-position .4s ease;
		text-decoration: none;
		transition: transform 0.2s ease, background-position .4s ease;
		width: 30%;		
	}
	
	#work-links-next {
		background: url("../_images/work-links-next.svg") -20% .8125rem / 1rem 1rem no-repeat;
		text-align: right;
		
		&:focus,
		&:hover {
			background: url("../_images/work-links-next.svg") 5% .8125rem / 1rem 1rem no-repeat;
			transform: translateX(2px);
		}
	}

	#work-links-prev {
		background: url("../_images/work-links-prev.svg") 120% .8125rem / 1rem 1rem no-repeat;
		
		&:focus,
		&:hover {
			background: url("../_images/work-links-prev.svg") 95% .8125rem / 1rem 1rem no-repeat;
			transform: translateX(-2px);
		}
	}
}



/* ============================================================ */
/* MOBILE STYLES */

@media screen and (max-width: 667px) {

	blockquote {
		background: url("../_images/blockquote.png") 0 1rem no-repeat;
		background-size: 60px 60px;
		font-size: 1.25rem;
		font-weight: 300;
		padding: 1.5rem 0 2.5rem 4rem;
	}

	header {

		margin: 6rem auto 1rem auto;
		
		.link-cta {
			display: inline-block;
		}
		
		.title {
			display: block;
		}		
	}

	iframe {
		height: 16rem;
	}

	.container-section aside {
		grid-column: col 1 / span 4;
	}
	
	.container-section section {
		grid-column: col 1 / span 4;
	}

	.container figure.image-size-xs,
	.container figure.image-size-s {
		margin-left: 15% !important;
		margin-right: 15% !important;
		width: 70%;
	}
	
	.container figure.image-alignment-l,
	.container figure.image-alignment-r {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.container figure.figure-l {
		margin-left: 0;
		width: 100%;
	}

	.container figure.figure-side-by-side {
		align-items: top;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(1, [col] 1fr);

		.figure-side-by-side-size-l {
			grid-column: col 1 / span 1;
    	}
		
		.figure-side-by-side-size-s {
			grid-column: col 1 / span 1;
			margin: 0 auto;
			padding-top: 0;
			width: 50%;
		}

		figcaption {
			grid-column: col 1 / span 1;
		}

	}

	.container figure #table-desktop {
		display: none;
	}

	.container figure #table-mobile {
		display: block;
	}
	
	.cover {
		display: flex;
		
		img {
			align-self: flex-start;
			margin-left: -50%;
			margin-top: -15%;
			width: 200%;
		}
	}	
	
	.intro {
		font-size: 1.5rem;
		font-weight: 900;
// 		font-style: italic;
		line-height: 1.25;
		margin: 0 0 2rem 0;
	}

	.home {	
		
		header {
			height: 11rem;	
			margin-bottom: 1rem;
			margin-top: 9rem;		
			position: relative;
			z-index: 0;
		}
		
		#bio {
			grid-template-columns: repeat(4, [col] 1fr) ;
			grid-template-rows: repeat(auto, [row] auto);
	
			.intro {
				font-size: 1.375rem;
				grid-column: col 1 / span 4;
				grid-row: row 1 / span 1;
				letter-spacing: 0;
				margin: 0;
			}
			
			.intro-photo {
				grid-column: col 4 / span 1;
				grid-row: row 1 / span 1;
				margin: -3.375rem 0 0 0;
				position: relative;
				
				#intro-photo-decoration {
					height: 2rem;
					width: 100%;
					top: 70%;
					transform: rotateZ(-5deg);
				}
	
				#intro-photo-main {
					margin: 0 0 3rem 0;
					position: relative;
					z-index: 1;
					
					img {
					    border-radius: 50%;
					    display: block;
					    height: auto;
					    width: 100%;
						margin: 0 auto;
					}
				}
			}

			.intro-secondary {
				font-size: 1.125rem;
				font-weight: 500;
				grid-column: col 1 / span 4;
				grid-row: row 2 / span 1;
				height: 5rem;
			}
			
			.intro-tertiary {
				grid-column: col 1 / span 4;
				grid-row: row 2 / span 1;
			}
		}
		
		#header-decoration {
			height: 17.5rem;
			width: 12rem;
			left: -2rem;
			top: -1rem;
		}
		
		.cover {
			img {
				margin-top: 0;
			}
		}

		&.with-cover {
			h1 {
				border-bottom: .75rem solid $color-brand;
				font-size: 3rem;
			}	
		}

	}
	

	.list-item-visual {
		figure {
			background: #fff;
			grid-column: 1;
			grid-row: 1;
			margin-bottom: .5rem;

			img {
				height: auto;
				width: 100%;	
			}
		}
		
		hr {
			background: none;
			border: 0;
			border-bottom: 1rem solid blue;
			grid-column: col 4 / span 2;
			grid-row: row 2 / span 1;
			margin: 0;
			width: 80%;
		}
	
		li {
			display: grid;
			grid-gap: 0;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto auto;
			margin: 0 0 4rem 0;		
		}
		
		.list-item-visual-description {
			color: $color-text-light;
			font-size: 1.25rem;
			grid-column: 1;
			grid-row: row 3 / span 1;
			margin: 0;
			text-align: left;
		}

		&.list-item-visual-s {
			grid-template-columns: 1fr;
			
			li {
				figure {
					display: block;
					float: left;
					margin-right: 1rem;
					width: 33%;
					
					img {
						margin-bottom: 0;
					}
				}

				.list-item-visual-title,
				.list-item-visual-description {
					float: left;
					width: calc(67% - 1rem);
				}
				
				.list-item-visual-description {
					font-size: 1rem;
				}

			}

			.link-tile {
				#link-decoration {
					height: 1rem;
					left: 35%;
					width: 30%;
					top: 150%;
				}
			}

		}
		
		.list-item-visual-title {
			color: $color-text-dark;
			font-size: 1.75rem;
			grid-column: 1;
			grid-row: row 2 / span 1;
// 			letter-spacing: -.05rem;
			line-height: 1.375;
			margin: 0 0 .5rem 0;
		}
	}

	#work-links {
		flex-direction: column;
		
		#work-links-next {
			float: right;
			margin-left: auto;
			width: 60%;
		}
		
		#work-links-prev {
			margin: 0 0 1rem 0;
			justify-content: flex-start;			
			width: 60%;
		}
	}			
}