/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ============================================================ */
/* BASE STYLES */

::selection {
    background-color: #ecebea;
}

:focus {
	outline: 2px dotted #555;
	box-shadow: 2px 2px 16px #555;
}

body {
	color: #555;
	font-family: 'Rubik', sans-serif;
	line-height: 1.5;
}

h1 {
	border-bottom: .5rem solid #f9a400;
	color: #222;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 1.5;
	margin: 0 0 6rem 0;
	padding: 0 0 .25rem 0;
	text-transform: uppercase;
}

h2 {
	color: #222;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	margin: 0 0 .5rem 0;
	text-transform: uppercase;
}

h3 {
	color: #222;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25;
	margin: 0 0 .75rem 0;
}

h4 {
	margin: 0 0 .5rem 0;
}

a {
	background: rgba(252,248,240,0.85);
	border-bottom: 1px dotted #f9a400;
	color: #555;
	text-decoration: none;
	transition: all 0.2s ease;
	
	&:hover {
		background: #f9a400;
		color: #222;
	}
}

p {
	margin: 0 0 1rem 0;	
	
	span {
		text-decoration: underline;
	}
}

strong {
	font-weight: 500;
}

main {
	margin: 0 auto;
	max-width: 60rem;
	padding: 6rem 0;
	width: 90%;
}

ul {
	list-style-type: circle;
	padding: 0 0 0 2.5rem;
	
	&.list-text {
		line-height: 1.375;
		list-style-type: none;
		margin: 0 0 0 2.5rem;
		padding: 0 0 .5rem 0;
		
		li {
			font-size: .8125rem;
			margin: 0 0 .5rem 0;
		}
	}	
}

hr.separator {
	background: none;
	border:0;
	border-bottom: .25rem solid #F9A400;
	height: 0;
	margin: 0 0 2.5em 0;
	text-align: left;
	width: 2.5rem;
}

span.intro {
	color: #5c80a9;
	display: block;
	font-size: 3rem;
	font-style: italic;
	line-height: 1.25;
	margin: 0 0 2.5rem 0;
}

figure {	
	a {
		background: none;
		border: 0;
		display: block;
		opacity: .95;
		text-decoration: none;		
		transition: all 0.2s ease;
	
		&:hover {
			background: none;
			opacity: 1;
			-webkit-transform: rotateZ(-1deg) scale(0.99);
    	    -ms-transform: rotateZ(-1deg) scale(0.99);
    	    transform: rotateZ(-1deg) scale(0.99);
		}
		
		&:active {
			box-shadow: none;
			outline: none;
		}	
	}	
	
	img {
		display: block;
	}
}



/* ============================================================ */
/* NAV STYLES */

nav {
	background: rgba(255,255,255,0.95);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	
	a {
		display: inline-block;
		line-height: 0;

		img {
			height: 1.5rem;
			width: 1.5rem;
		}
		
		&.link-home {
			background: none;
			border: 0;
			color: #222;
			font-weight: 900;				
		}
	}	

	section {
		border-bottom: 4px double #E8E3DE;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr auto auto auto;
		margin: 0 auto;
		padding: .75rem 0;
		max-width: 60rem;
		width: 90%;		
	}
}



/* ============================================================ */
/* CONTAINER STYLES */

.container {
	section {
		margin: 0 0 2.5rem 0;
		max-width: 45rem;	
	}
	
	figure {
		font-style: italic;
		margin: 0 0 2.5rem 0;
		max-width: 45rem;	

		img {
			height: auto;
			margin-bottom: .5rem;
			width: 100%;
		}
		
		&.image-size-s {
			width: 50%;
		}
		
		&.image-alignment-r {
			float: right;
			margin: 0 0 1.25rem 1.25rem;
		}
	}
	
	figcaption {
		font-size: .75rem;	
		text-align: center;
	}
}

.container-section {
	align-items: baseline;
	display: grid;
	grid-template-columns: repeat(4, [col] 1fr) ;
	margin: 0;
	
	aside {
		grid-column: col 1 / span 1;
		margin-right: 1.5rem;
	}

	section {
		grid-column: col 2 / span 3;
	}
	
	.container-section-item {
		margin: 0 0 1rem 0;
	}
	
	p:last-child {
		margin: 0;
	}
}

.list-item-visual {
	margin-bottom: 6rem;
	padding: 0;
	
	li {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(12, [col] 1fr) ;
		grid-template-rows: repeat(8, [row] auto);
		margin: 0 0 4rem 0;
	}
	
	figure {
		grid-column: col / span 6;
		grid-row: row 1 / span 8;
		
		img {
			height: auto;
			width: 100%;	
		}

	}
	
	a:active {
		box-shadow: none;
		outline: none;
	}	

	.list-item-visual-title {
		color: #222;
		font-size: 3rem;
		grid-column: col 6 / span 7;
		grid-row: row 2 / span 2;
		line-height: 1.25;
		z-index: 2;
	}
	
	.list-item-visual-description {
		color: #555;
		font-size: 1.5rem;
		font-style: italic;
		grid-column: col 8 / span 4;
		grid-row: row 4;
		line-height: 1.375;
		text-align: left;
	}

	hr {
		background: none;
		border: 0;
		border-bottom: 1rem solid blue;
		grid-column: col 4 / span 2;
		grid-row: row 2 / span 1;
		margin: 0;
		width: 80%;
	}
	
	&.list-item-visual-s {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(4, [col] 1fr);
		grid-template-rows: auto;
		margin: 0 0 4rem 0;
		overflow: hidden;		

		li {
			display: block;
			margin: 0 0 1.5rem 0;
			overflow: hidden;		
		}

		figure {
			display: block;
			margin: 0 0 .5rem 0;

			img {
				height: auto;
				width: 100%;	
			}
			
		}
		
		.list-item-visual-title {			
			color: #222;
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.375;
			margin-bottom: .25rem;
		}

		.list-item-visual-description {
			color: #555;
			font-size: .8125rem;
			font-style: italic;
			display: block;
			text-align: left;
		}

	}
}



/* ============================================================ */
/* MOBILE STYLES */


@media screen and (max-width: 667px) {

/*
	.container-section {
		flex-flow: row wrap;
	}
*/

	.container-section aside {
		grid-column: col 1 / span 4;
	}
	
	.container-section section {
		grid-column: col 1 / span 4;
	}

	.container figure.image-size-s {
		width: 100%;
	}
	
	.container figure.image-alignment-r {
		float: none;
		margin: 0 0 1.25rem 0;
	}

	.list-item-visual {
		li {
			display: grid;
			grid-gap: 0;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto auto;
			margin: 0 0 2.5rem 0;		
		}
		
		figure {
			background: #fff;
			grid-column: 1;
			grid-row: 1;
			margin-bottom: 1rem;
		}
		
		hr {
			background: none;
			border: 0;
			border-bottom: 1rem solid blue;
			grid-column: col 4 / span 2;
			grid-row: row 2 / span 1;
			margin: 0;
			width: 80%;
		}
	
		img {
			height: auto;
			width: 100%;	
		}
		
		.list-item-visual-title {
			color: #222;
			font-size: 2rem;
			grid-column: 1;
			grid-row: row 2 / span 1;
			line-height: 1.25;
			margin-bottom: .5rem;
		}

		.list-item-visual-description {
			font-size: 1.25rem;
			font-weight: 500;
			grid-column: 1;
			grid-row: row 3 / span 1;
			text-align: left;
		}
	
		&.list-item-visual-s {
			grid-template-columns: repeat(2, [col] 1fr);
		}	
	}
			
}

