/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ============================================================ */
/* VARIABLES */

$color-brand: #f9a400;
$color-text-default: #555;
$color-text-dark: #222;


/* ============================================================ */
/* BASE STYLES */

::selection {
    background-color: #ecebea;
}

:focus {
	outline: 2px dotted #222;
	box-shadow: 0 4px 16px #555;
}

body {
	background: #fff;
	color: $color-text-default;
	font-family: 'Rubik', sans-serif;
	line-height: 1.5;
}

footer {
	background: $color-brand;
	-webkit-clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0 100%);
	color: $color-text-dark;
	font-size: .75rem;
	padding: 2rem 0 0 0;
	width: 100%;
	
	a {
		background: none;
		border-color: #222;
		color: #222;
		
		&:hover {
			border-color: #fff;
		}
	}
	
	.footer-section {
		margin: 0 auto 0;
		max-width: 60rem;
		overflow: hidden;
		padding: 0;
		width: 90%;
	}
}

h1 {
	border-bottom: .5rem solid $color-brand;
	color: $color-text-dark;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 1.25;
	margin: 0 0 1.5rem 0;
	padding: 0 0 .375rem 0;
	text-transform: uppercase;
}

h2 {
	color: $color-text-dark;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	margin: 0 0 .5rem 0;
	text-transform: uppercase;
}

h3 {
	color: $color-text-dark;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25;
	margin: 0 0 .75rem 0;
}

h4 {
	margin: 0 0 1rem 0;
}

a {
	background: rgba(252,248,240,1);
	border-bottom: 1px dotted $color-brand;
	color: $color-text-default;
	text-decoration: none;
	transition: all 0.2s ease;
	
	&:hover {
		background: $color-brand;
		color: $color-text-dark;
	}
}

p {
	margin: 0 0 1rem 0;	
	
	span {
		text-decoration: underline;
	}
}

blockquote {
	background: url("../_images/blockquote.png") 0 0 no-repeat;
	background-size: 100px 100px;
	font-size: 1.5rem;
	font-style: italic;
	padding: 1.5rem 0 2.5rem 6rem;	
	position: relative;
	
	p {
		z-index: 1;
	}
	
	span {
		font-size: 1rem;
	}
	
	.quote-decoration {
		background: rgba(249,164,0,.025);
		height: 80%;
		position: absolute;
		right: 2.5%;
		width: 90%;
		top: 5%;
		z-index: 0;	
		transform: rotateZ(-2.5deg);
	}
}

strong {
	font-weight: 500;
}

main {
	margin: 0 auto;
	max-width: 60rem;
	padding: 0 0 4rem 0;
	width: 90%;
}

header {
	display: grid;
	margin: 6rem auto 0;
	min-height: 9rem;
	max-width: 60rem;
	position: relative;
	width: 90%;
	z-index: 2;
	
	.title {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;		
	}
	
	.title-link {
		height: 4rem;
	}
}

ul {
	list-style-type: circle;
	padding: 0 0 0 2.5rem;
	
	&.list-text {
		line-height: 1.375;
		list-style-type: none;
		margin: 0 0 0 2.5rem;
		padding: 0 0 .5rem 0;
		
		li {
			font-size: .8125rem;
			margin: 0 0 .5rem 0;
		}
	}	
}

hr.separator {
	background: none;
	border:0;
	border-bottom: .25rem solid $color-brand;
	height: 0;
	margin: 0 0 2.5em 0;
	text-align: left;
	width: 2.5rem;
}

.intro {
	color: #fff /* #5c80a9 */;
	display: block;
	font-size: 3rem;
	font-style: italic;
	line-height: 1.25;
	margin: 0 0 4rem 0;
}

figure {	
	a {
		background: none;
		border: 0;
		display: block;
		text-decoration: none;		
		transition: all 0.2s ease;
	
		&:active {
			box-shadow: none;
			outline: none;
		}	
	}	
	
	img {
		display: block;
	}
}



/* ============================================================ */
/* NAV STYLES */

nav {
	background: rgba(255,255,255,0.95);
	border-bottom: 4px double #E8E3DE;
	display: grid;
	font-size: .75rem;
	grid-gap: 1rem;
	grid-template-columns: auto 1fr auto auto;
	left: 0;
	margin: 0 auto;
	max-width: 60rem;
	padding: .75rem .5rem;
	position: fixed;
	right: 0;
	top: 0;
	vertical-align: bottom;
	width: 90%;		
	z-index: 3;
	
	a {
		background: none;
		border: 0;
		border-top: 1px solid transparent;
		color: #777;
		display: block;
		font-size: .75rem;
		font-weight: 400;
		line-height: 1.5;
		overflow: hidden;
		padding-top: .25rem;
// 		text-transform: uppercase;
		vertical-align: middle;

		&:focus {
			box-shadow: 0 2px 8px #d0d0d0;
			transform: translateY(-2px);
			outline: none;
		}
	
		&:hover {
			background: none;
			transform: translateY(-2px);
		}

		img {
			height: 1.5rem;
			width: 1.5rem;
		}
		
		&#nav-link-home {
			background: none;
			border-top: 1px solid transparent;
			color: $color-text-dark;
			text-transform: uppercase;
/*
			line-height: 0;
*/
			padding: .25rem 0 0 0;
// 			text-shadow: 1px 1px #eee;

			&:hover {
				transform: translateY(-2px);
/*
				-webkit-transform: rotateZ(-1deg) scale(0.95);
			    -ms-transform: rotateZ(-1deg) scale(0.95);
			    transform: rotateZ(-1deg) scale(0.95);
*/
			}
		}

		&.nav-link-active {
			border-top: 1px solid $color-text-dark;
			color: $color-text-dark;

			&:hover {
				background: none;
				transform: none;
			}
		}

	}	
	
	&.transparent {
		background: none;
		border-bottom: 4px double transparent;
		
		a#nav-link-home {
			color: #fff;
// 			text-shadow: 1px 1px $color-text-dark;
		}
		
		a {
			color: #fff;
			&.nav-link-active {
				border-top: 1px solid #fff;
				
				&:hover {
					color: #fff;
				}
			}
			
			&:focus {
				box-shadow: 0 2px 8px #0c0c0c;
			}

			&:hover {
				color: #ddd;
			}
		}
	}
}



/* ============================================================ */
/* CONTENT STYLES */

.link-cta {
	background: none;
	border: 1px solid $color-brand;
	color: $color-text-dark;
	display: block;	
	font-size: .75rem;
	font-weight: 500;
	padding: .375rem .625rem;
	text-transform: uppercase;
	
	&:hover {
		border-bottom: 2px solid #BD7F06;
		transform: translateY(-2px);
	}
}

.cover {
	background: linear-gradient(#312A1E, #0c0c0c);// 
	box-shadow: inset 0 -16px 16px -8px #000;	
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 28rem);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 28rem);
	left: 0;
	height: 30rem;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	
	img {
		display: block;
		height: auto;
		min-height: 30rem;
		width: 100%;
		opacity: 0.1;
	}
}	

.with-cover {
	h1 {
		border-color: rgba(255,255,255,0.1);
		color: #fff;
	}

	header {
		color: #fff;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto 1fr auto;
		height: 24rem;
		margin-bottom: 4rem;	
	}
	
	.link-cta {
		color: #fff;
		
		&:hover {
			color: $color-text-dark;
		}
	}
	
	.role {
		color: #ddd;
		font-size: .625rem;
		margin: 0 0 3rem 0;
		padding: 0;
		text-transform: uppercase;
		
		li {
			background: rgba(0,0,0,0.5);
			border-radius: 1rem;
			display: inline-block;
			line-height: 1;
			list-style-type: none;
			margin: 0 .25rem .5rem 0;
			padding: .375rem .75rem;
		}
	}	
}

.home {	
	
	h1 {
		border-bottom: 1rem solid $color-brand;
		font-size: 4rem;
	}
	
	header {
		height: 11rem;	
		margin-bottom: 1rem;
		margin-top: 9rem;
	}
	
	#decoration {
		background: rgba(249,164,0,.05);
		height: 25rem;
		position: absolute;
		left: -2rem;
		width: 20rem;
		top: -1rem;
		z-index: 0;	
	}
	
	#bio {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(12, [col] 1fr) ;
		grid-template-rows: repeat(4, [row] auto);
		margin-bottom: 6rem;

		.intro {
			color: $color-text-default;
			font-style: normal;
			font-size: 2.5rem;
			grid-column: col 1 / span 8;
			grid-row: row 1 / span 2;
			line-height: 1.375;
			margin: 0 0 2rem 0;
		}
		
		.intro-secondary {
			font-size: 1rem;
			font-style: italic;
			grid-column: col 4 / span 7;
			grid-row: row 3 / span 1;
			margin-bottom: 2rem;
			text-align: right;
		}
		
		.intro-tertiary {
			grid-column: col 3 / span 6;
			grid-row: row 4 / span 1;
		}
		
		.intro-photo {
			background: $color-brand;
			grid-column: col 11 / span 2;
			grid-row: row 3 / span 2;
		}

	}
	
	.cover {
		background: #fff;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 18rem);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 18rem);
		height: 20rem;
		
		img {
			opacity: 1;		
		}	
	}
}

.container {
	section {
		margin: 0 0 2.5rem 0;
		max-width: 45rem;	
	}
	
	figure {
		font-style: italic;
		margin: 0 0 2.5rem 0;
		max-width: 45rem;	

		img {
			height: auto;
			margin-bottom: .5rem;
			width: 100%;
		}
		
		&.image-size-s {
			width: 50%;
		}
		
		&.image-alignment-l {
			float: left ;
			margin: 0 1rem 1rem 0;
		}

		&.image-alignment-r {
			float: right;
			margin: 0 0 1rem 1rem;
		}
		
	}
	
	figcaption {
		font-size: .75rem;	
		text-align: center;
	}
}

.container-section {
	align-items: baseline;
	display: grid;
	grid-template-columns: repeat(4, [col] 1fr) ;
	margin: 0;
	
	aside {
		grid-column: col 1 / span 1;
		margin-right: 1.5rem;
	}

	section {
		grid-column: col 2 / span 3;
		
		:last-child {
			margin-bottom: 0;
		}
	}
	
	.container-section-item {
		margin: 0 0 1rem 0;
	}

	.container-section-item :last-child {
		margin-bottom: 0;
	}		
}

.list-item-visual {
	margin-bottom: 4rem;
	padding: 0;
	
	li {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(12, [col] 1fr) ;
		grid-template-rows: repeat(8, [row] auto);
		margin: 0 0 4rem 0;
	}
	
	figure {
		grid-column: col / span 6;
		grid-row: row 1 / span 8;
		position: relative;
		
		a {

			img {
				box-shadow: 0 4px 16px #e0e0e0;			
				height: auto;
				width: 100%;	
				transition: all 0.2s ease;

				&:hover {
					box-shadow: 0 2px 4px #eaeaea;	    	    
				}

			}

			&:hover {
				background: none;
	    	    transform: rotateZ(-.5deg) scale(0.99);	
// 				transform: translateY(2px);	    	    
	    	}
		}
		
		.link-external {
			background: rgba(255,255,255,0.9);
			color: $color-brand;
			font-weight: 900;
			position: absolute;
			padding: .125rem .375rem 0 0;
			right: 0;
			top: 0;
			z-index: 1;
		}

	}
	
	a:active {
		box-shadow: none;
		outline: none;
	}	

	.list-item-visual-title {
		color: $color-text-dark;
		font-size: 3rem;
		grid-column: col 6 / span 7;
		grid-row: row 3 / span 2;
		line-height: 1.25;
		z-index: 2;
		
		a {
			background: rgba(252,248,240,.9);
			
			&:hover {
				background: $color-brand;
			}
		}
	}
	
	.list-item-visual-description {
		color: $color-text-default;
		font-size: 1.5rem;
		font-style: italic;
		grid-column: col 8 / span 4;
		grid-row: row 5;
		line-height: 1.375;
		text-align: left;
	}

	hr {
		background: none;
		border: 0;
		border-bottom: 1rem solid blue;
		grid-column: col 4 / span 2;
		grid-row: row 2 / span 1;
		margin: 0;
		width: 80%;
	}
	
	&.list-item-visual-s {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(4, [col] 1fr);
		grid-template-rows: auto;
		margin: 0 0 4rem 0;

		li {
			display: block;
			margin: 0 0 .5rem 0;
		}

		figure {
			display: block;
			margin: 0 0 .5rem 0;

			img {
				box-shadow: 0 2px 4px #eaeaea;			
				height: auto;
				width: 100%;	
			}

			a:hover img {
				box-shadow: 0 1px 2px #eaeaea;				
			}
		}
		
		.link-tile {
			position: relative;
			
			a {
				background: none;
				border: 0;
			 	display: block;
			 	font-style:normal;
				font-weight: 500;
				left: 0%;
				padding: 1rem 0;
				position: absolute;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				transform: none;
				top: 23%;
				z-index: 1;
				
				&:hover {
					background: none;
				}
			}
			
			figure {
				height: 100%;
			}
			
			#link-decoration {
				background: rgba(249,164,0,.1);
				height: 1.25rem;
				position: absolute;
				left: 21%;
				width: 60%;
				top: 35%;
				z-index: 0;	
				transform: rotateZ(-5deg);
				transition: all 0.2s ease;
			}
			
			a:focus + #link-decoration,
			a:hover + #link-decoration {
				transform: rotateZ(-7.5deg);
			}
		}
		
		.list-item-visual-title {			
			color: $color-text-dark;
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.375;
			margin-bottom: .25rem;
		}

		.list-item-visual-description {
			color: $color-text-default;
			font-size: .8125rem;
			font-style: italic;
			display: block;
			text-align: left;
		}

	}
}



#work-links {
	display: flex;
	font-size: .8125rem;	
	hyphens: auto;
	justify-content: space-between;
	margin: 2rem 0 0 0;

	h4 {
		font-weight: 500;
		line-height: 1.25;
		margin: 0 0 .25rem 0;
	}
	
	span {
		font-size: .625rem;
	}
		
	#work-links-prev,
	#work-links-next {
		background-size: 1rem;
		border: 1px dotted $color-brand;
		display: block;
		padding: .75rem 1rem;
		position: relative;
		transition: transform 0.2s ease, background 0.4s ease;
		width: 30%;		
	}
	
	#work-links-next {
		background: url("../_images/work-links-next.png") -20% .8125rem no-repeat;
		background-size: 1rem;
		text-align: right;
		
		&:focus,
		&:hover {
			background: url("../_images/work-links-next.png") 5% .8125rem no-repeat;
			background-size: 1rem;
			transform: translateX(2px);
		}
	}

	#work-links-prev {
		background: url("../_images/work-links-prev.png") 120% .8125rem no-repeat;
		background-size: 1rem;
		
		&:focus,
		&:hover {
			background: url("../_images/work-links-prev.png") 95% .8125rem no-repeat;
			background-size: 1rem;
			transform: translateX(-2px);
		}
	}
}



/* ============================================================ */
/* MOBILE STYLES */


@media screen and (max-width: 667px) {

	header {
		.title {
			display: block;
		}
		
		.link-cta {
			display: inline-block;
		}
	}

	blockquote {
		background: url("../_images/blockquote.png") 0 1rem no-repeat;
		background-size: 60px 60px;
		font-size: 1.25rem;
		font-style: italic;
		padding: 1.5rem 0 2.5rem 4rem;
	}

	iframe {
		height: 16rem;
	}
	
	.cover {
		display: flex;
		
		img {
			align-self: flex-start;
			margin-left: -50%;
			margin-top: -15%;
			width: 200%;
		}
	}	
	
	.intro {
		font-size: 2rem;
		font-style: italic;
		line-height: 1.25;
		margin: 0 0 2rem 0;
	}

	.container-section aside {
		grid-column: col 1 / span 4;
	}
	
	.container-section section {
		grid-column: col 1 / span 4;
	}

	.container figure.image-size-s {
		width: 100%;
	}
	
	.container figure.image-alignment-l,
	.container figure.image-alignment-r {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.list-item-visual {
		li {
			display: grid;
			grid-gap: 0;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto auto;
			margin: 0 0 2.5rem 0;		
		}
		
		figure {
			background: #fff;
			grid-column: 1;
			grid-row: 1;
			margin-bottom: .5rem;
		}
		
		hr {
			background: none;
			border: 0;
			border-bottom: 1rem solid blue;
			grid-column: col 4 / span 2;
			grid-row: row 2 / span 1;
			margin: 0;
			width: 80%;
		}
	
		img {
			height: auto;
			width: 100%;	
		}
		
		.list-item-visual-title {
			color: $color-text-dark;
			font-size: 2rem;
			grid-column: 1;
			grid-row: row 2 / span 1;
			line-height: 1.25;
			margin-bottom: .5rem;
		}

		.list-item-visual-description {
			font-size: 1.25rem;
			font-weight: 500;
			grid-column: 1;
			grid-row: row 3 / span 1;
			text-align: left;
		}
	
		&.list-item-visual-s {
			grid-template-columns: 1fr;
			
			li {
	
				figure {
					display: block;
					float: left;
					margin-right: 1rem;
					width: 33%;
				}

				.list-item-visual-title,
				.list-item-visual-description {
					float: left;
					width: calc(67% - 1rem);
				}

			}

			.link-tile {
			
				#link-decoration {
					height: 1rem;
					left: 35%;
					width: 30%;
					top: 150%;
				}
			}

		}
		
			
	}

	#work-links {
		flex-direction: column;
		
		#work-links-next {
			float: right;
			margin-left: auto;
			width: 80%;
		}
		
		#work-links-prev {
			margin: 0 0 1rem 0;
			justify-content: flex-start;			
			width: 80%;
		}
	}
			
}

